*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
.fa-bars{
    display: none;
}
/* Header styles */
#header{
    min-height: 100vh;
    background: url('../images/header-bg.jpg') no-repeat;
    background-size: cover;
}
.header__main{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__brand{
    background-color: #11749e;
    padding: 1rem;
    /* position: relative; */
    box-shadow: 7px 7px rgba(255,255,255,0.5);
}
.header__brand a{
    color: #fff;
    font-size: 1.7rem;
}
/* .header__brand::after{
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 5;
} */
.nav{
    display: flex;
    align-items: center;
}
.nav__item-link{
    padding: 0 1rem;
    padding-bottom: 1rem;
    color: #fff;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    transition: all .3s ease;
}
.nav__item-link:hover{
    color: rgba(255, 255, 255, 0.671);
    border-bottom: 2px solid #11749e;
}
.header__social i{
    color: #fff;
    font-size: 1.7rem;
    padding: 0 1rem;
    cursor: pointer;
}
.header__social i:hover{
    color: rgba(255, 255, 255, 0.671);
}
.header__info{
    margin-top: 12rem;
    text-align: center;
    color: #fff;
}
.header__info-title{
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.header__info-subtitle{
    color: #11749e;
    font-size: 1.5rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}.header__scroll-down{
    padding-top: 7rem;
}
.header__scroll-down a{
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Header styles */
/* Pages section */
#pages{
    min-height: 100vh;
    background-color: #11749e;
    text-align: center;
}
.pages__title{
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-top: 9rem;
    color: #fff;
    position: relative;
    letter-spacing: 2px;
}
.pages__title::before{
    content: 'W';
    position: absolute;
    font-size: 12rem;
    font-weight: 700;
    top: 28%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.445);
}
.pages__items{
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pages__item{
    width: 23%;
}
.pages__item span{
    margin: 0 auto;
    background-color: #2e85aa;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.pages__item-title{
    color: #fff;
    padding: 1.2rem 0;
}
.pages__item-subtitle{
    color: #fff;
    line-height: 27px;
}
/* Pages section */
/* Features section */
#features{
    height: 100vh;
    overflow-y: hidden;
}
.features__items{
    display: flex;
    flex-wrap: wrap;
}
.features__item{
    width: 50%;
    padding: 4rem;
}
.features__item:nth-child(1){
    color: #fff;
    background-color: rgb(48, 43, 43);
}
.features__item:nth-child(2){
    background: url('../images/features-images-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.features__item:nth-child(3){
    background: url('../images/features-images-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.features__item span{
    font-size: 0.8rem;
}
.features__item-title{
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}
.features__item p{
    line-height: 27px;
}
/* Features section */
/* Extension section */
#extension{
    min-height: 100vh;
    text-align: center;
    padding-bottom: 6.12rem;
}
.extension__title{
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-top: 9rem;
    position: relative;
    letter-spacing: 2px;
}
.extension__title::before{
    content: 'B';
    position: absolute;
    font-size: 12rem;
    font-weight: 700;
    top: 15%;
    transform: translateX(-50%);
    opacity: .25;
}
.extension__items{
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.extension__item{
    width: 23%;
}
.extension__item span{
    margin: 0 auto;
    background-color: #2e85aa;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.extension__item-title{
    color: #11749e;
    padding: 1.2rem 0;
    font-size: 1rem;
}
.extension__item-image img{
    width: 100%;
}
.extension__title-sub{
    margin-top: 7rem;
    font-size: 1.2rem;
}
.extension__item-subtitle{
    color: #000;
    line-height: 27px;
}
/* Extension section */
/* Quick section */
#quick-section{
    background-color: #11749e;
    height: 50vh;
}
.quick-section__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10rem;
}
.quick-section__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-right: 4rem;
    line-height: 18px;
}
.quick-section__item .far{
    color: #fff;
    font-size: 4rem;
    display: inline-block;
    padding-right: 1rem;
}
/* Quick section */
/* Key features styles */
#key-feature{
    height: 100vh;
    background: url('../images/key-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.key-feature__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.key-feature__item:nth-child(1){
    color: #fff;
    padding-top: 10rem;
    width: 39%;
}
.key-feature__item-title{
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.key-feature__item-paragraph{
    margin-bottom: 3.87rem;
}
.key-feature__item-subtitle{
    background-color: #11749e;
    padding: 0.8rem 0;
    padding-left: 1.2rem;
    margin-bottom: 1.2rem;
}
.key-feature__item:nth-child(2){
    margin-top: 3rem;
}
.key-feature__item img{
    width: 100%;
}
/* Key features styles */
/* Our team styles */
#our-team{
    min-height: 100vh;
    text-align: center;
    padding-bottom: 6.12rem;
}
.our-team__title{
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-top: 9rem;
    position: relative;
    letter-spacing: 2px;
}
.our-team__title::before{
    content: 'T';
    position: absolute;
    font-size: 12rem;
    font-weight: 700;
    top: 15%;
    transform: translateX(-50%);
    opacity: .25;
}
.our-team__items{
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-team__item{
    width: 23%;
}
.our-team__item img{
    width: 100%;
}
.our-team__item p{
    transform: translateY(-50%);
    width: 50%;
    color: #11749e;
    margin: 0 auto;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fff;
    
}
.our-team__item span{
    color: #666;
    text-transform: capitalize;
    font-weight: normal;
}
.extension__item-title{
    color: #11749e;
    padding: 1.2rem 0;
    font-size: 1rem;
}
.extension__item-image img{
    width: 100%;
}
.our-team__sub{
    margin-top: 7rem;
    font-size: 1.2rem;
}
.extension__item-subtitle{
    color: #000;
    line-height: 27px;
}
/* Our team styles */
/* Contact section */
#contact{
    height: 100vh;
    background: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    color: #fff;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.contact__title{
    text-transform: uppercase;
    position: relative;
    font-size: 1.5rem;
    padding-top: 10rem;
    letter-spacing: 2px;
}
.contact__title::after{
    content: 'C';
    position: absolute;
    font-size: 10rem;
    opacity: 0.25;
    left: 45%;
    top: 45%;
}
.contact__form{
    width: 100%;
    padding-top: 6.12rem;
}
.contact__form input,
.contact__form textarea{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;

}
.contact__form input::placeholder,
.contact__form textarea::placeholder{
    color: #fff;
}
.contact__form input{
    width: 31%;
    margin-right: 1rem;
    padding: 0.8rem 0;
    padding-left: 1rem;
}
.contact__form input:nth-child(3){
    margin-right: 0;
}

.contact__form textarea{
    margin-top: 1.5rem;
    width: 97%;
    resize: none;
    padding: 0.8rem 0;
    padding-left: 1rem;
}
.btn{
    background-color: #11749e;
    padding: 0.5rem 1.5rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
}
/* Contact section */
/* Prefooter styles */
#pre-footer{
    height: 50vh;
    background-image: url('../images/maps.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* Prefooter styles */
/* Footer styles */
#footer{
    background-color: #000;
    text-align: center;
    padding: 2rem 0;
    color: #fff;
}
/* /Footer styles */
@media (max-width: 992px){
    .container{
        max-width: 90%;
    }
    .header__main .navbar,
    .header__main .header__social{
        display: none;
    }
    .header__main .fa-bars{
        display: block;
        color: #fff;
        font-size: 1.5rem;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 0.5rem;
    }
    .header__main .fa-bars:hover{
        color: rgba(255, 255, 255, 0.671);
    }
    .header__info{
        margin-top: 12rem;
    }
    .header__info-title{
        font-size: 5rem;
    }
    .header__info-subtitle{
        font-size: 1rem;
    }
    .pages__item{
        width: 45%;
    }
    .pb-5{
        padding-bottom: 2rem;
    }
    #features{
        height: auto;
    }
    .features__items{
        display: block;
    }
    .features__item{
        width: 100%;
    }
    .features__item:nth-child(2){
        display: none;
    }
    .features__item:nth-child(3){
        display: none;
    }
    .extension__item{
        width: 45%;
    }
    .quick-section__items {
        padding-top: 4rem;
    }
    .our-team__item{
        width: 45%;
    }
    .contact__form input{
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
     }
     
     .contact__form textarea{
         display: block;
         width: 100%;
     }
}
@media (max-width: 578px){
    .header__info{
        margin-top: 10rem;
    }
    .header__info-title{
        font-size: 2.8rem;
    }
    .header__info-subtitle{
        font-size: 0.8rem;
    }
    .pages__item{
        width: 100%;
    }
    .pb-5{
        padding-bottom: 2rem;
    }
    .features__item:nth-child(2){
        display: none;
    }
    .features__item:nth-child(3){
        display: none;
    }
    .features__item{
        display: block;
    }
    .extension__item{
        width: 100%;
    }
    .quick-section__items {
        display: block;
        text-align: center;
        padding-top: 1rem;
    }
    .quick-section__item{
        padding: 0;
        padding-bottom: 1rem;
        display: block;
    }
    .key-feature__item{
        width: 100% !important;
    }
    .key-feature__item:nth-child(2){
        display: none;
    }
    .our-team__item{
        width: 100%;
    }
    
}