/* Contact section */
#contact{
    height: 100vh;
    background: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    color: #fff;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.contact__title{
    text-transform: uppercase;
    position: relative;
    font-size: 1.5rem;
    padding-top: 10rem;
    letter-spacing: 2px;
}
.contact__title::after{
    content: 'C';
    position: absolute;
    font-size: 10rem;
    opacity: 0.25;
    left: 45%;
    top: 45%;
}
.contact__form{
    width: 100%;
    padding-top: 6.12rem;
}
.contact__form input,
.contact__form textarea{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;

}
.contact__form input::placeholder,
.contact__form textarea::placeholder{
    color: #fff;
}
.contact__form input{
    width: 31%;
    margin-right: 1rem;
    padding: 0.8rem 0;
    padding-left: 1rem;
}
.contact__form input:nth-child(3){
    margin-right: 0;
}

.contact__form textarea{
    margin-top: 1.5rem;
    width: 97%;
    resize: none;
    padding: 0.8rem 0;
    padding-left: 1rem;
}
.btn{
    background-color: #11749e;
    padding: 0.5rem 1.5rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
}
/* Contact section */