/* Header styles */
#header{
    min-height: 100vh;
    background: url('../images/header-bg.jpg') no-repeat;
    background-size: cover;
}
.header__main{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__brand{
    background-color: #11749e;
    padding: 1rem;
    /* position: relative; */
    box-shadow: 7px 7px rgba(255,255,255,0.5);
}
.header__brand a{
    color: #fff;
    font-size: 1.7rem;
}
/* .header__brand::after{
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 5;
} */
.nav{
    display: flex;
    align-items: center;
}
.nav__item-link{
    padding: 0 1rem;
    padding-bottom: 1rem;
    color: #fff;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    transition: all .3s ease;
}
.nav__item-link:hover{
    color: rgba(255, 255, 255, 0.671);
    border-bottom: 2px solid #11749e;
}
.header__social i{
    color: #fff;
    font-size: 1.7rem;
    padding: 0 1rem;
    cursor: pointer;
}
.header__social i:hover{
    color: rgba(255, 255, 255, 0.671);
}
.header__info{
    margin-top: 12rem;
    text-align: center;
    color: #fff;
}
.header__info-title{
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.header__info-subtitle{
    color: #11749e;
    font-size: 1.5rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}.header__scroll-down{
    padding-top: 7rem;
}
.header__scroll-down a{
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Header styles */