/* Pages section */
#pages{
    min-height: 100vh;
    background-color: #11749e;
    text-align: center;
}
.pages__title{
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-top: 9rem;
    color: #fff;
    position: relative;
    letter-spacing: 2px;
}
.pages__title::before{
    content: 'W';
    position: absolute;
    font-size: 12rem;
    font-weight: 700;
    top: 28%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.445);
}
.pages__items{
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pages__item{
    width: 23%;
}
.pages__item span{
    margin: 0 auto;
    background-color: #2e85aa;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.pages__item-title{
    color: #fff;
    padding: 1.2rem 0;
}
.pages__item-subtitle{
    color: #fff;
    line-height: 27px;
}
/* Pages section */