@media (max-width: 992px){
    .container{
        max-width: 90%;
    }
    .header__main .navbar,
    .header__main .header__social{
        display: none;
    }
    .header__main .fa-bars{
        display: block;
        color: #fff;
        font-size: 1.5rem;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 0.5rem;
    }
    .header__main .fa-bars:hover{
        color: rgba(255, 255, 255, 0.671);
    }
    .header__info{
        margin-top: 12rem;
    }
    .header__info-title{
        font-size: 5rem;
    }
    .header__info-subtitle{
        font-size: 1rem;
    }
    .pages__item{
        width: 45%;
    }
    .pb-5{
        padding-bottom: 2rem;
    }
    #features{
        height: auto;
    }
    .features__items{
        display: block;
    }
    .features__item{
        width: 100%;
    }
    .features__item:nth-child(2){
        display: none;
    }
    .features__item:nth-child(3){
        display: none;
    }
    .extension__item{
        width: 45%;
    }
    .quick-section__items {
        padding-top: 4rem;
    }
    .our-team__item{
        width: 45%;
    }
    .contact__form input{
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
     }
     
     .contact__form textarea{
         display: block;
         width: 100%;
     }
}
@media (max-width: 578px){
    .header__info{
        margin-top: 10rem;
    }
    .header__info-title{
        font-size: 2.8rem;
    }
    .header__info-subtitle{
        font-size: 0.8rem;
    }
    .pages__item{
        width: 100%;
    }
    .pb-5{
        padding-bottom: 2rem;
    }
    .features__item:nth-child(2){
        display: none;
    }
    .features__item:nth-child(3){
        display: none;
    }
    .features__item{
        display: block;
    }
    .extension__item{
        width: 100%;
    }
    .quick-section__items {
        display: block;
        text-align: center;
        padding-top: 1rem;
    }
    .quick-section__item{
        padding: 0;
        padding-bottom: 1rem;
        display: block;
    }
    .key-feature__item{
        width: 100% !important;
    }
    .key-feature__item:nth-child(2){
        display: none;
    }
    .our-team__item{
        width: 100%;
    }
    
}